{% include 'uit-header.html' %}


    <div id="vntbot">
        <el-form ref="form" :model="manageform" label-width="120px">
            <el-form-item label="Service path">
                <span
                    v-for="item in presvcList"
                    :key="item.index">
                        [{{item.svcdescr}}]
            </span>
            </el-form-item>
            <el-form-item label="User/bot path">
                <span
                        v-for="item in usrsvcList.slice().reverse()"
                        :key="item.index">
                            [{{item.nickname}}/{{item.isbot}}]
                </span>
            </el-form-item>
            <el-form-item label="Request subject">
                <el-input type="text" placeholder="subject" v-model="manageform.subject"></el-input>
            </el-form-item>
            <el-form-item label="Comment">
                <el-input
                    type="textarea"
                    :rows="2"
                    placeholder="for approver or performer"
                    v-model="manageform.comment">
                </el-input>
            </el-form-item>
            <el-form-item label="Request Operation">
                <el-radio-group v-model="manageform.operation">
                    <el-radio label="createnewuser">Create new user and connect to group (new Username, select Group)</el-radio>
                    <el-radio label="changeusergroup">Change user group (select Username, select Group)</el-radio>
                    <el-radio label="addusertogroup">Add existed user to group (select Username, select Group)</el-radio>
                    <el-radio label="changenickname">Change user nickname (select Username, set new Username)</el-radio>
                    <el-radio label="addtoservice">Add existed user to Service (select Username, select Service)</el-radio>
                    <el-radio label="removefromservice">Remove user from Service (select Username, select Service)</el-radio>
                    <el-radio label="deleteuser">Delete user (select Username)</el-radio>
                </el-radio-group>
            </el-form-item>

            <span v-if="manageform.operation == 'createnewuser' || manageform.operation == 'changenickname'">
                <el-form-item label="New username">
                    <el-input type="text" placeholder="nickname" v-model="manageform.nickname"></el-input>
                </el-form-item>
            </span>

            <span v-if="manageform.operation != 'createnewuser' && manageform.operation != null">
                <el-form-item label="Existed user">
                    <el-select v-model="manageform.uservntid" placeholder="Select">
                        <el-option
                            v-for="item in userList"
                            :key="item.uservntid"
                            :label="item.nickname"
                            :value="item.uservntid">
                        </el-option>
                    </el-select>
                </el-form-item>
            </span>

            <span v-if="manageform.operation == 'createnewuser' || manageform.operation == 'changeusergroup' || manageform.operation == 'addusertogroup'">
                <el-form-item label="Existed group">
                    <el-select v-model="groupForAct" placeholder="Select">
                        <el-option
                            v-for="item in groupList"
                            :key="item.groupid"
                            :label="item.groupname"
                            :value="item.groupid">
                        </el-option>
                    </el-select>
                </el-form-item>
            </span>
            
            <span v-if="manageform.operation == 'addtoservice' || manageform.operation == 'removefromservice'">
                <el-form-item label="Service code">
                    <el-select v-model="manageform.servicecode" placeholder="Select">
                        <el-option
                            v-for="item in serviceList"
                            :key="item.svcid"
                            :label="item.level1+'.'+item.level2+'.'+item.level3+'.'+item.level4"
                            :value="item.svcid">
                        </el-option>
                    </el-select>
                </el-form-item>
            </span>

        </el-form>
    </div>

    <script type="text/javascript">
        const { createApp } = Vue;
        const vntbot = createApp({
            data() {
                return {
                subject: '',
                vntid: 0,
                uservntid: 0,
                jwt: '',
                svcid: null,
                manageform: {
                    vntid: null,
                    uservntid: null,
                    operation: null,
                    action: "Request",
                    nickname: '',
                    groupname: '',
                    dst_svcid: null,
                    comment: '',
                    subject: ''
                },
                groupList: [],
                userList: [],
                serviceList: [],
                presvcList: [],
                groupForAct: '',
                usrsvcList: []
                }
            }
        });
        vntbot.use(ElementPlus);
        const botapp = vntbot.mount('#vntbot');
        window.receiveDataFromParent = function(parentData) {
            botapp.vntid = parentData.vntid;
            botapp.uservntid = parentData.uservntid;
            botapp.jwt = parentData.jwt;
            botapp.svcid = parentData.svcid;
            console.info("parentData=", parentData);
            // now read list of groups
            axios
                .get(`/api/allgroups?vntid=`+botapp.vntid, { headers: { Authorization: `JWT ${botapp.jwt}` } })
                .then(response => (botapp.groupList = response.data.items));
            axios
                .get(`/api/allusers?vntid=`+botapp.vntid, { headers: { Authorization: `JWT ${botapp.jwt}` } })
                .then(response => (botapp.userList = response.data.items));
            axios
                .get(`/api/get/services?vntid=`+botapp.vntid+'&uservntid='+botapp.uservntid, { headers: { Authorization: `JWT ${botapp.jwt}` } })
                .then(response => (botapp.serviceList = response.data.items));
            axios
                .get(`/api/get/preservices?vntid=`+botapp.vntid+'&svcid='+botapp.svcid, { headers: { Authorization: `JWT ${botapp.jwt}` } })
                .then(response => (botapp.presvcList = response.data.items));
            axios
                .get(`/api/get/fullpath?vntid=`+botapp.vntid+'&svcid='+botapp.svcid+'&uservntid='+botapp.uservntid, { headers: { Authorization: `JWT ${botapp.jwt}` } })
                .then(response => (botapp.usrsvcList = response.data.items));
        };
        window.needToSubmitResults = function() {
            console.log("call for needToSubmitResults");
            botapp.manageform.vntid = botapp.vntid;
            botapp.manageform.uservntid = botapp.uservntid;
            botapp.manageform.dst_svcid = botapp.svcid;
            axios.post(`/api/post/newmessage`, botapp.manageform, { headers: { Authorization: `JWT ${botapp.jwt}` } })
            .then(function (response) {
                console.log(response);
                //rereadvnt();
            })
            .catch(function (error) {
                console.log(error);
            });
        }
</script>

{% include 'uit-footer.html' %}